* {
  padding: 0;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1820px;
  margin: 0 auto;
}
.general_header {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.nav_list-item:not(:last-child) {
  margin-right: 15px;
}
.wrapper_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social_text {
  margin-right: 15px;
}
.icons {
  margin-right: 50px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.icon {
  height: 18px;
}

.social_text,
.phone_number,
.nav_list-item,
.assortment_list-item,
.cart_text,
.callback {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.5px;
  color: #1e2e36;
}
.nav_list-item {
  text-transform: uppercase;
  border-bottom: 4px solid #fff;
  cursor: pointer;
}
.nav_list-item:hover {
  border-color: #44c697;
}
.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.chevron {
  position: absolute;
}
.assortment_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.assortment_list-item {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.assortment_list-item:not(:last-child) {
  margin-right: 11px;
}
.general_subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart img {
  height: 21px;
  margin-right: 5px;
}
.cart_text {
  margin-right: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.assortment_logo {
  width: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.callback,
.btn_details,
.btn_catalog,
.btn_submit {
  cursor: pointer;
  padding: 14px 46px;
  color: white;
  font-size: 18px;
  background-color: #44c697;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}
.header_bed {
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 785px;
  width: 100%;
  background-image: url(../img/bed.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.new {
  position: absolute;
  padding: 100px 70px;
  top: 0;
  left: 51px;
  height: 670px;
  background-color: #fff;
  margin-bottom: 115px;
}
.new::before {
  content: "";
  position: absolute;
  background-color: #44c697;
  width: 15px;
  height: 100%;
  top: 0;
  left: 0;
}
.title_new {
  color: #1e2e36;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  margin-bottom: 40px;
}
.bed_name,
.about_bed {
  color: #1e2e36;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}
.about_bed {
  font-weight: 400;
  margin-bottom: 30px;
}
.btn_details {
  margin-bottom: 50px;
}
.active {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 5px;
}
.unactive {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.left,
.right {
  position: relative;
  width: 15px;
  height: 15px;
  padding: 15px;
  border: 2px solid #1e2e36;
  border-radius: 50%;
}
.left {
  margin-right: 5px;
}
.right {
  background-color: #1e2e36;
}
.left_arrow,
.right_arrow {
  position: absolute;
  width: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.benefits_title,
.categories_title,
.about_us-title {
  position: relative;
  margin: 100px 0 52px 0;
  color: #1e2e36;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}
.benefits_title::before,
.categories_title::before,
.about_us-title::before,
.questions_title::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 50px;
  background-color: #44c697;
  top: 2px;
  z-index: -1;
}
.benefits_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}
.benefits_list-item {
  position: relative;
}
.benefits_list-item:not(:last-child) {
  margin-right: 30px;
}
.benefit_name {
  margin-left: 30px;
  position: absolute;
  bottom: 60px;
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
  color: white;
  border-bottom: 4px solid #44c697;
}
.box_benefit {
  position: absolute;
  bottom: 60px;
}
.benefits_descr {
  margin-left: 30px;
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 400;
  color: white;
}
.categories_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1820px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin-bottom: 87px;
}
.categories_list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  position: relative;
}

.categories_list-item:hover .categories_descr {
  cursor: pointer;
  border-bottom: 4px solid #44c697;
}
.categories_list-item:hover svg {
  cursor: pointer;
  fill: #44c697;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.categories_descr {
  position: absolute;
  bottom: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1e2e36;
  border-bottom: 4px solid #fff;
}
.bed_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.bad_list-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.bad_list-item {
  position: relative;
  cursor: pointer;
}
.new_bed,
.top_bed,
.sale {
  position: absolute;
  padding: 5px 15px;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 700;
  background-color: #1e2e36;
  top: 20px;
  left: 0;
}
.about_bed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  text-align: center;
}
.bed_name,
.bed_price {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.color_red {
  color: #ff1b1b;
}
.sale {
  top: 60px;
  background-color: #ff1b1b;
}
.strike {
  position: relative;
  bottom: 10%;
  font-size: 18px;
  font-weight: 700;
  color: #bcbdbb;
  margin-left: 10px;
  text-decoration: line-through;
}
.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bad_list-item:hover {
  margin-top: -15px;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.bad_list-item:hover .about_bed {
  background-color: #44c697;
  margin-top: -15px;
}
.bad_list-item:hover .bed_name {
  color: white;
}
.bad_list-item:hover .bed_price {
  color: white;
}
.bad_list-item:hover .strike {
  color: white;
}
.btn_catalog {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-top: 50px;
}
.about_us {
  position: relative;
  margin-bottom: 827px;
}
.about_us img {
  position: absolute;
  right: 0;
  z-index: -1;
}
.about_description {
  position: absolute;
  top: 210px;
  width: 791px;
  height: 475px;
  padding: 50px 51px;
  background-color: #fff;
}
.about_text_first {
  text-transform: uppercase;
  color: #44c697;
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 700;
}
.about_description p {
  color: #1e2e36;
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 400;
}
.about_description p:not(:last-child) {
  margin-bottom: 15px;
}
.about_description::before {
  content: "";
  position: absolute;
  background-color: #44c697;
  width: 15px;
  height: 100%;
  top: 0;
  right: 0;
}

.questions {
  position: relative;
}

.questions_title {
  margin-bottom: 52px;
  color: #1e2e36;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}
.form {
  background-color: #fff;
  padding: 50px;
  position: absolute;
  right: 0;
  top: 210px;
  width: 513px;
  height: 457px;
  border: none;
}
input {
  width: 432px;
  height: 51px;
  margin-bottom: 15px;
}
.consult {
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.btn_submit {
  width: 432px;
  margin-bottom: 30px;
}
input[placeholder] {
  padding-left: 10px;
  font-size: 22px;
}
.form_text {
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 400;
}
.text_bold {
  font-weight: 700;
}
.form::before {
  content: "";
  position: absolute;
  background-color: #44c697;
  width: 15px;
  height: 100%;
  top: 0;
  left: 0;
}
.footer {
  padding: 56px 101px 15px 70px;
  margin-top: 109px;
  position: relative;
  background-color: #1e2e36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_logo {
  margin-left: -25px;
}
.footer_left > img {
  margin-bottom: 50px;
}
.footer_right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.furn_box {
  margin-right: 100px;
}
.nav_box {
  margin-right: 110px;
}
.furn_list,
.navig_list {
  list-style: none;
}
.furn_list_item,
.navig_list-item {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.5px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 15px;
}
.furn_list_item::before,
.navig_list-item::before {
  position: absolute;
  content: "";
  background-color: #44c697;
  width: 15px;
  height: 3px;
  left: -25px;
  top: 8px;
}
.phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.phones img {
  height: 22px;
}
.phone_one,
.phone_two {
  margin-left: 10px;
  color: #44c697;
  font-size: 18px;
  font-weight: 700;
}
.phone_one {
  margin-bottom: 5px;
}
.info_geo {
  margin-bottom: 16px;
}
.info_cal {
  margin-bottom: 16px;
}
.general_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.glyanec_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.glyanec_box img {
  margin-right: 10px;
}
.footer_copy {
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  color: white;
  margin-right: 208px;
  margin-left: -25px;
}
.taxt_glyanec {
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}
.btn_go-back a {
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}
.arrow {
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.btn_go-back {
  position: fixed;
  left: 2%;
  bottom: 10%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #44c697;
  color: white;
  font-size: 36px;
}
.arrow {
  position: absolute;
  right: 28%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}